@import 'src/styles';

.sub-title{
  color: $primary-color;
  border-radius: 16px;
  background: #F3EBFF;
  padding: 4px 12px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.heading{
  color: $heading-color;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.description{
  color:$primary-color;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
