<div class="card">
  <img class="card-img-top" src="assets/imgs/test.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-type">Design</h6>
    <h5 class="card-title">UX review presentations</h5>
    <p class="card-text">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
    <div class="auther">
      <img class="auther-img" src="assets/imgs/auther.png" alt="" sizes="" srcset="">
      <div class="auther-details">
        <div class="name">Mahmoud</div>
        <div class="date">20 Jan 2022</div>
      </div>
    </div>
  </div>
</div>
